@import './_var.scss';

body {
    width: 100vw;
    height: 100vh;
    padding: 1rem;
    background: url('../img/bg-pattern.svg') no-repeat;
    font-family: $fonte;
}

.active::before {
    animation: toggle-go ease-in-out .3s forwards;
}

.no-active::before {
    animation: toggle-back ease-in-out .3s forwards;
}

@keyframes toggle-go {
    0%{ 
        left: 4px;
    }
    100%{ 
        left: 23px;
    }
}

@keyframes toggle-back {
    0%{ 
        left: 23px;
    }
    100%{ 
        left: 4px;
    }
}

@media screen and (min-width: 500px) {
    body {
        padding: 0;
        overflow: hidden;
        background: url('../img/bg-pattern.svg') no-repeat;
        background-size: 100% 50%;
    }
}
