@import '../abstract/variables';

.header {
    background: url('../img/pattern-circles.svg') no-repeat center;
    
    margin-top: 3rem;
    padding: 3rem 2rem;

    .header__title {
        color: $dark-desaturated-blue;
        font-size: 20px;
        text-align: center;
    }

    .header__subtitle {
        width: 190px;

        color: $grayish-blue;
        font-size: 14px;
        text-align: center;

        margin: 0.5rem auto 0 auto;
    }
}